<div class="calendar">
    <div class="row">
        <div class="col previous-month">
            <i class="bi bi-caret-left-fill"></i>
         </div>
        <div class="col month-year">Março/2026</div>
        <div class="col next-month">
            <i class="bi bi-caret-right-fill"></i>
        </div>
    </div>
    <div class="row">
        <div class="col week-day">Seg</div>
        <div class="col week-day">Ter</div>
        <div class="col week-day">Qua</div>
        <div class="col week-day">Qui</div>
        <div class="col week-day">Sex</div>
        <div class="col week-day">Sab</div>
        <div class="col week-day">Dom</div>
    </div>
    <div class="row">
        <div class="col day"></div>
        <div class="col day"></div>
        <div class="col day"></div>
        <div class="col day"></div>
        <div class="col day"></div>
        <div class="col day"></div>
        <div class="col day day-off"> 1 </div>
    </div>
    <div class="row">
        <div class="col day day-avaliable">2</div>
        <div class="col day day-avaliable">3</div>
        <div class="col day day-avaliable">4</div>
        <div class="col day day-avaliable">5</div>
        <div class="col day day-avaliable">6</div>
        <div class="col day day-off">7</div>
        <div class="col day day-off">8</div>
    </div>
    <div class="row">
        <div class="col day day-avaliable">9</div>
        <div class="col day day-avaliable">10</div>
        <div class="col day day-avaliable">11</div>
        <div class="col day day-avaliable">12</div>
        <div class="col day day-avaliable">13</div>
        <div class="col day day-off">14</div>
        <div class="col day day-off">15</div>
    </div>
    <div class="row">
        <div class="col day day-avaliable">16</div>
        <div class="col day day-avaliable">17</div>
        <div class="col day day-avaliable">18</div>
        <div class="col day day-avaliable">19</div>
        <div class="col day day-avaliable">20</div>
        <div class="col day day-off">21</div>
        <div class="col day day-off">22</div>
    </div>
    <div class="row">
        <div class="col day day-avaliable">23</div>
        <div class="col day day-avaliable">24</div>
        <div class="col day day-selected">25</div>
        <div class="col day day-avaliable">26</div>
        <div class="col day day-avaliable">27</div>
        <div class="col day day-off">28</div>
        <div class="col day day-off">29</div>
    </div>
    <div class="row">
        <div class="col day day-avaliable">30</div>
        <div class="col day day-avaliable">31</div>
        <div class="col day"> </div>
        <div class="col day"> </div>
        <div class="col day"> </div>
        <div class="col day"> </div>
        <div class="col day"> </div>
    </div>
</div>